{
    "config": {
        "rt": {
            "1": "root.data",
            "2": "root.data.transactionAmount",
            "3": "root.data.isoBankTransactionCode.domainCode",
            "4": "root.data.isoBankTransactionCode.familyCode",
            "5": "root.data.isoBankTransactionCode.subFamilyCode",
            "6": "root.data.proprietaryBankTransactionCode",
            "7": "root.data.balance",
            "8": "root.data.balance.balanceAmount",
            "9": "root.data.enrichment.transactionHash"
        },
        "row": {
            "1": {
                "id": "TEXT1",
                "date": "TEXT2",
                "bookingDateTime": "TEXT3",
                "valueDateTime": "TEXT4",
                "status": "TEXT5",
                "amount": "REAL1",
                "currency": "TEXT6",
                "reference": "TEXT7",
                "description": "TEXT8"
            },
            "2": {
                "amount": "REAL1",
                "currency": "TEXT1"
            },
            "3": {
                "code": "TEXT1",
                "name": "TEXT2"
            },
            "4": {
                "code": "TEXT1",
                "name": "TEXT2"
            },
            "5": {
                "code": "TEXT1",
                "name": "TEXT2"
            },
            "6": {
                "code": "TEXT1",
                "issuer": "TEXT2"
            },
            "7": {
                "type": "TEXT1"
            },
            "8": {
                "amount": "REAL1",
                "currency": "TEXT1"
            },
            "9": {
                "hash": "TEXT1"
            }
        }
    }
}