{
    "row": {
        "root.data": {
            "id": "TEXT1",
            "date": "INT1",
            "bookingDateTime": "INT2",
            "valueDateTime": "INT3",
            "status": "TEXT2",
            "amount": "REAL1",
            "currency": "TEXT3",
            "reference": "TEXT4",
            "description": "TEXT5"
        },
        "root.data.transactionAmount": {
            "amount": "REAL2",
            "currency": "TEXT6"
        },
        "root.data.isoBankTransactionCode.domainCode": {
            "code": "TEXT7",
            "name": "TEXT8"
        },
        "root.data.isoBankTransactionCode.familyCode": {
            "code": "TEXT9",
            "name": "TEXT10"
        },
        "root.data.isoBankTransactionCode.subFamilyCode": {
            "code": "TEXT11",
            "name": "TEXT12"
        },
        "root.data.proprietaryBankTransactionCode": {
            "code": "TEXT13",
            "issuer": "TEXT14"
        },
        "root.data.balance": {
            "type": "TEXT15"
        },
        "root.data.balance.balanceAmount": {
            "amount": "REAL3",
            "currency": "TEXT16"
        },
        "root.data.enrichment.transactionHash": {
            "hash": "TEXT17"
        }
    }
}
